body {
  background-color: #fffff8;
  color: #111111;
  text-align: center;
}

#name, #links {
  width: 100%;
}

#name {
  margin-top: 100px;
  margin-bottom: 100px;
}

#name h1 {
  font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
  font-size: 72px;
  margin: 0;
  text-decoration: underline #be1e2d;
}

#name h4 {
  font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
  font-size: 16px;
  font-weight: normal;
  padding-top: 0;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

#name h4 a {
  color: #111111;
}

#links a {
  font-size: 16px;
  display: inline-block;
  width: 100px;
  padding: 10px;
  border: 2px solid #111111;
}

#links a {
  color: #111111;
  text-decoration: none;
  font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
  font-weight: bold;
}

#links a:hover {
  border: 3px solid #111111;
  padding: 9px;
}
